/*	
	This stylesheet changes monkeydocs from default white to dark blue with blue links
	To make docss use white theme, rename or delete this stylesheet.
	To change docs theme, change the colors below.
	If you find something that needs adding, add it to the correct color group, sperating with a commma
 */


/* main background color */
body{
	background-color: #222;
}
/* text color */
body,pre,code{
	color: #ccc;
}
/* link color */
a , a:hover, a:visited , a:active {
	color: #4ef;
}
/* table header and <pre> background */
pre,th ,code{
	background: #444;
}

tr:nth-child(even){
	background: #333;
}

tr:nth-child(odd){
	background: #222;
}
